div.container {
    div.four {
        width:30%;
        float: left;
        &:nth-child(4n-3) {
             width: 20%;   
        }
        &:nth-child(4n-2) {
             width: 20%;   
        }
        &:nth-child(4n-1) {
             width: 30%;   
        }
    }
    input, textarea {
        font-size: 16px;
        padding: 8px 4%;
        border: 0px none #ffffff;
        border-radius: 5px;
        background-color: rgba(255,255,255,0.75);  
        width: 92%;
        margin-bottom: 10px; 
    }
     input[type="submit"] {
          float: none;
          width: 100%;
          padding: 8px 0px;
          margin: 0px;
          font-size: 16px;
        -webkit-appearance: none;
        border: 0px none #ffffff;
        background-color: #AE1607;
        border-radius: 5px;
        color: #ffffff;
     }    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 767px) {
    div.container {
        div.four {
             float: none;
             width: 100%;
            &:nth-child(4n-3) {
                 width: 100%;   
            }
            &:nth-child(4n-2) {
                 width: 100%;   
            }
            &:nth-child(4n-1) {
                 width: 100%;   
            }
            ul {
                 padding: 0px;
                 margin: 0px 0px 32px;
                 li {
                      text-align: center;
                 }
            }
            h2, p {
                 text-align: center;   
            }
        }
    }
    
}