div.hero {
    h1 {
         text-align: center;
         width: 100%;
         display: block;
         color: #ffffff;
         margin-top: 64px;
         font-size: 28px;
         line-height: 32px;
         margin-bottom: 16px;
    }
    #mc_embed_signup{
        max-width: 768px;
        margin: 0px auto;
    }
    .form_hidden {
         display: none;   
    }
    input {
        font-size: 16px;
        padding: 8px 2%;
        border: 0px none #ffffff;
        border-radius: 5px;
        background-color: rgba(255,255,255,0.75);   
    }
    input:nth-of-type(2n-1) {
        float: left;
        width: 45%;
        margin-bottom: 16px;
    }
    input:nth-of-type(2n) {
         float: right;
         width: 45%;
        margin-bottom: 16px;
    }
    #mc-embedded-subscribe, button {
        float: right;
        width: 16%;
        font-size: 16px;
        padding: 8px 1%;
        -webkit-appearance: none;
        border: 0px none #ffffff;
        background-color: #AE1607;
        border-radius: 5px;
        color: #ffffff;
    }
    button {
         display: block;
         margin: 0px auto;
         float: none;
         &:hover {
              cursor: pointer;
         }
    }
    @media screen and (max-width: 767px) {
        input:nth-of-type(2n-1) {
            float: none;
            width: 96%;
            margin-bottom: 16px;
        }
        input:nth-of-type(2n) {
             float: none;
             width: 96%;
            margin-bottom: 16px;
        }
         #mc-embedded-subscribe, button {
              float: none;
              width: 100%;
              padding: 8px 0px;
              margin: 0px;
         }
        h1 {
             font-size: 24px;   
        }
    }
}

div.signup_form, div.contact_form {
    background-color: #444444;
    width: 45%;
    float: right;
    margin-left: 16px;
    padding: 16px;
    border-radius: 5px;
    h1 {
         text-align: center;
         width: 100%;
         display: block;
         color: #ffffff;
         margin-top: 0px;
         font-size: 28px;
         line-height: 32px;
         margin-bottom: 16px;
    }
    h2, p {
         color: #ffffff;   
    }
    #mc_embed_signup{
        max-width: 768px;
        margin: 0px auto;
    }
    input {
        width: 96%;
        font-size: 16px;
        padding: 8px 2%;
        border: 0px none #ffffff;
        border-radius: 5px;
        background-color: rgba(255,255,255,0.75); 
        margin-bottom: 16px;
    }
    #mc-embedded-subscribe, button {
        float: right;
        width: 16%;
        font-size: 16px;
        padding: 8px 1%;
        -webkit-appearance: none;
        border: 0px none #ffffff;
        background-color: #AE1607;
        border-radius: 5px;
        color: #ffffff;
        margin-bottom: 0px;
    }
    button {
         display: block;
         margin: 0px auto;
         float: none;
         &:hover {
              cursor: pointer;
         }
    }
    @media screen and (max-width: 767px) {
        width: 92%;
        float: none;
        margin: 0px;
        padding: 16px 4%;
         #mc-embedded-subscribe, button {
              float: none;
              width: 100%;
              padding: 8px 0px;
              margin: 0px;
         }
        h1 {
             font-size: 24px;   
        }
    }
}