table, tbody, tr, td, th {
     border-collapse: collapse;   
}

table {
     border: 1px solid #c7c7c7; 
     width: 100%;
}

tr {
     border: 1px solid #c7c7c7;   
}

td, th {
     background-color: #fff; 
     border: 1px solid #c7c7c7;
     padding: 10px 10px;
     text-align: left;
     color: #c7c7c7;
}

th {
     color: #000000; 
     font-weight: normal;
}

table.schedule {
    tbody {
         tr {
             th {
                  background-color: #f7f7f7;
                  font-size: 14px;
                  font-weight: 800;
                  padding: 4px 10px;
             }
             td {
                  padding: 4px 10px;
                  span.start_time {
                      display: block;
                      color: #000000;
                      font-size: 12px;
                      line-height: 16px;
                  }
                  span.end_time {
                      display: block;
                      font-size: 12px;
                      line-height: 16px;
                  }
                  span.class_name {
                       display: block;
                       font-size: 16px;
                       color: #000000;
                       line-height: 18px;
                  }
                  span.class_req {
                       display: block;
                       font-size: 12px;
                       line-height: 14px;
                       &.required {
                            color: #AE1607;   
                       }
                  }
                  &:first-child {
                       width: 70px;   
                  }
             }
         }
    }
}